<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated petrinetz -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="petrinetz.presentation.PetrinetzModelWizardID"
            name="%_UI_PetrinetzModelWizard_label"
            class="petrinetz.presentation.PetrinetzModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PetrinetzModelFile.gif">
         <description>%_UI_PetrinetzModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated petrinetz -->
      <editor
            id="petrinetz.presentation.PetrinetzEditorID"
            name="%_UI_PetrinetzEditor_label"
            icon="icons/full/obj16/PetrinetzModelFile.gif"
            extensions="petrinetz"
            class="petrinetz.presentation.PetrinetzEditor"
            contributorClass="petrinetz.presentation.PetrinetzActionBarContributor">
      </editor>
   </extension>

</plugin>
